.whole {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    font-family: 'メイリオ', Meiryo, serif;


}

.header {
    top: 0;
    z-index: 10;
    width: 100%;
    position: sticky;
    background-color: #ffeeee;
}

.header__whole {
    display: flex;
    align-items: center;
    height: 3rem;
}

.header__left {
    flex: 1 1 0%;
    font-size: 1.5rem;
    padding-left: 5px;
    line-height: 2rem;
    font-weight: 900;
}

.header__title {
    font-family: 'Palatino Linotype', sans-serif;
    color: #937a43;
    text-decoration: none;
    padding-left: 5px;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__menu {
    display: none;
    margin-left: 1.5rem;
}

.header__icon {
    display: inline-flex;

}

.instagram {
    display: inline-block;
    padding-top: 10px;
}

.youtube {
    display: inline-block;
    position: relative;
    padding-top: 6px;
    padding-left: 5px;
}

.header__button {
    font-size: .75rem;
    line-height: 1rem;
    color: #937a43;
    display: inline-flex;
    align-items: center;
    border-width: 1px;
    background-image: none;
    border-color: #937a43;
    justify-content: center;
    background-color: transparent;
    margin-left: 0.5rem;
    font-weight: 500;
    padding: 6px 6px;
    margin: 10px 5px;
    font-weight: bold;
    border: solid 1px #a07c43;
    border-radius: 10px;
    text-decoration: none;
}

.hamburger {
    width: 35px;

}

.hamburger__line {
    position: fixed;
    margin-top: 7px;
    margin-left: 4px;
    width: 20px;
    height: 1px;
    background-color: #000;
}

.hamburger__line--1 {
    top: 8px;
}

.hamburger__line--2 {
    top: 16px;
}

.hamburger__line--3 {
    top: 24px;
}

.main {
    flex-grow: 1;
    background-color: #fefaff;
    padding-left: 1rem;
    padding-right: 1rem;
}

.top-image {
    margin-left: -1rem;
    margin-right: -1rem;
    height: 56.25vw;
    position: relative;
    cursor: pointer;
}

.section1 {
    padding-bottom: 2rem;
}

.news {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 330px;
}

.news__title {
    --tw-bg-opacity: 1;
    background-color: rgb(236 72 153 / var(--tw-bg-opacity));
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border-radius: 0.25rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    letter-spacing: .025em;
}

.top__news {
    text-decoration: none;
    color: #937a43;
}

a {
    text-decoration: none;
    color: inherit;
}

.topix {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.info {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.translate {
    font-size: 12px;
    text-align: center;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    text-transform: capitalize;
}

.translate::before {
    border-top: solid 1px #9d8566;
    border-bottom: solid 2px #9d8566;
    width: calc(50% - 3rem);
    height: 2px;
    top: calc(50% - 2.5px);
    position: absolute;
    left: 0;
    content: "";
}

.translate::after {
    border-top: solid 1px #9d8566;
    border-bottom: solid 2px #9d8566;
    width: calc(50% - 3rem);
    height: 2px;
    top: calc(50% - 2.5px);
    position: absolute;
    right: 0;
    content: "";
}

.info_content {
    display: grid;
    margin-bottom: 1rem;
}

.info_content_days {
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.25rem;
}

.info_detail {
    display: block;
    text-decoration-line: underline;
}

.play-movie {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.top-movie {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 1rem;
    position: relative;
}

.top-tracklist {
    text-align: center;
    font-size: .75rem;
    line-height: 1rem;
    padding-bottom: 1rem;
}

.top__button {
    text-align: center;
}

.top__button__content {
    font-size: .75rem;
    line-height: 1rem;
    color: #937a43;
    display: inline-flex;
    align-items: center;
    border-width: 1px;
    background-image: none;
    border-color: #937a43;
    justify-content: center;
    background-color: transparent;
    margin-left: 0.5rem;
    font-weight: 500;
    padding: 6px 6px;
    margin: 1px 5px;
    font-weight: bold;
    border: solid 1px #a07c43;
    border-radius: 10px;
    text-decoration: none;
}

.biography__title {
    line-height: 1;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin: 0;

}

.biography__name {
    margin-top: 0.5rem;
}

.biography__name__japanese {
    font-size: 1.5rem;
    line-height: 2rem;
}

.biography__name__alphabet {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.biography__button {
    justify-content: center;
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.biography__button__japanese {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 1px;
    --tw-text-opacity: 1;
    color: rgb(236 72 153 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 238 238 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(236 72 153 / var(--tw-border-opacity));
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.biography__button__english {
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 1px;
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

button {
    cursor: pointer;
    background-image: none;
    text-transform: none;
    background-color: transparent;
}

.main__profile {
    max-width: none;
}

.biography__detail {
    font-size: .75rem;
    line-height: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-width: 1px;
    border-radius: 0.25rem;
    display: inline-block;
}